@use "../abstracts/color"as c;
@use "../abstracts/size"as s;
@use "../abstracts/font"as f;
@use "./btn"as b;

#search {
    height: calc(100vh - 82px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title_hide {
        display: none;
    }

    .title {
        h1 {
            font-family: f.$header-font;
            font-size: s.$h3_size;

            a {
                letter-spacing: 3px;
                text-decoration: none;
                color: c.$black;
                font-weight: 400;
            }
        }

        h3 {
            text-align: center;
            margin-top: 11px;
            margin-bottom: 52px;
            font-size: 20px;
            color: c.$grey_h3_fg;
            font-style: italic;
        }
    }

    .bar_hide {
        display: none;
    }

    .bar {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .btn_solid {
            @include b.btn_solid(15px, c.$black, c.$bg_search_bar, 10px 15px);
            width: 54px;
            height: 45px;
        }

        .left {
            // position: absolute;
            // left: -50px;
            border-radius: 20px 0 0 20px;
            cursor: pointer;
            
            i {
                color: c.$color_btn;
            }
        }

        .sbar {
            padding: 10px 15px;
            outline: none;
            height: 45px;
            width: 100%;
            font-size: 18px;
            // max-width: 700px;
            // min-width: 700px;
            border: none;
            background-color: c.$bg_search_bar;

            &::placeholder {
                color: c.$color_btn;
            }
        }

        .right {
            // position: absolute;
            background-color: c.$bg_right_btn;
            border-radius: 0 20px 20px 0;
            color: c.$white;
        }
    }

    .filter {
        .btn_solid {
            @include b.btn_solid(15px, c.$black, c.$bg_search_bar, 10px 15px);
            border-radius: 5px;
            margin-top: 30px;
            cursor: pointer;
            font-size: 18px;
            color: c.$color_btn;
            transition: .1s linear;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                border: 1px solid c.$border_color_hover;
                box-shadow: .2px .2px c.$border_color_hover;
            }
        }
    }
}