* {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#nav {
  background-color: #232121;
  display: flex;
  flex-direction: row;
  height: 82px;
  padding: 0 40px 0 44px;
}
#nav .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#nav .left h1 {
  color: #FFFFFF;
  font-size: 25px;
}
#nav .right {
  display: flex;
  align-items: center;
  margin-left: auto;
}
#nav .right .list {
  list-style-type: none;
}
#nav .right .list .item {
  padding-left: 9px;
  display: inline-block;
}
#nav .right .list .item .link {
  color: #D1DEEA;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s linear;
}
#nav .right .list .item .link:hover {
  color: #A2B0BE;
}

#search {
  height: calc(100vh - 82px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#search .title_hide {
  display: none;
}
#search .title h1 {
  font-family: "Source Serif Pro", serif;
  font-size: 40px;
}
#search .title h1 a {
  letter-spacing: 3px;
  text-decoration: none;
  color: #000000;
  font-weight: 400;
}
#search .title h3 {
  text-align: center;
  margin-top: 11px;
  margin-bottom: 52px;
  font-size: 20px;
  color: #EFEBEB;
  font-style: italic;
}
#search .bar_hide {
  display: none;
}
#search .bar {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
#search .bar .btn_solid {
  font-size: 15px;
  color: #000000;
  background-color: #F8F8F8;
  padding: 10px 15px;
  border: none;
  width: 54px;
  height: 45px;
}
#search .bar .left {
  border-radius: 20px 0 0 20px;
  cursor: pointer;
}
#search .bar .left i {
  color: #9E9797;
}
#search .bar .sbar {
  padding: 10px 15px;
  outline: none;
  height: 45px;
  width: 100%;
  font-size: 18px;
  border: none;
  background-color: #F8F8F8;
}
#search .bar .sbar::placeholder {
  color: #9E9797;
}
#search .bar .right {
  background-color: #7CCE84;
  border-radius: 0 20px 20px 0;
  color: #FFFFFF;
}
#search .filter .btn_solid {
  font-size: 15px;
  color: #000000;
  background-color: #F8F8F8;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
  font-size: 18px;
  color: #9E9797;
  transition: 0.1s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search .filter .btn_solid:hover {
  border: 1px solid #D1C9C9;
  box-shadow: 0.2px 0.2px #D1C9C9;
}

#filter {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fbfbfb;
  width: 25%;
  height: calc(100% - 82px);
  padding: 30px 30px;
  border-radius: 10px;
}
#filter .top {
  position: relative;
}
#filter .top .btn_close {
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  border: none;
  cursor: pointer;
}
#filter .top .btn_close i {
  color: #000000;
  font-size: 20px;
}
#filter .title {
  margin-top: 40px;
}
#filter .title h2 {
  font-size: 25px;
}
#filter .title .line_decoration {
  margin-top: 7px;
  width: 100%;
  height: 2px;
  background-color: #000000;
}
#filter .name {
  margin-top: 21px;
  margin-bottom: 34px;
}
#filter .name label {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
#filter .filter {
  position: relative;
  width: 100%;
  height: 100px;
}
#filter .filter .values {
  position: absolute;
  top: -20px;
  background-color: #4d5cec;
  width: 100px;
  position: relative;
  margin: auto;
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
}
#filter .filter .values:before {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0;
  right: 0;
  height: 0;
  width: 0;
  border-top: 15px solid #4d5cec;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  margin: auto;
}
#filter .filter .range_slider {
  margin-top: 20px;
  width: 100%;
  height: 5px;
  background-color: #f1f2f3;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 5px;
}
#filter .filter .range_slider input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: transparent;
  pointer-events: none;
}
#filter .filter .range_slider input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
}
#filter .filter .range_slider input[type=range]::-moz-range-track {
  -moz-appearance: none;
  height: 5px;
}
#filter .filter .range_slider input[type=range]::-ms-track {
  appearance: none;
  height: 5px;
}
#filter .filter .range_slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.3em;
  width: 1.3em;
  background-color: #4d5cec;
  cursor: pointer;
  pointer-events: auto;
  margin-top: -7px;
  border-radius: 10px;
}
#filter .filter .range_slider input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  height: 1.3em;
  width: 1.3em;
  background-color: #4d5cec;
  cursor: pointer;
  pointer-events: auto;
  border-radius: 50%;
  border: none;
}
#filter .filter .range_slider input[type=range]::-ms-thumb {
  appearance: none;
  height: 1.3em;
  width: 1.3em;
  background-color: #4d5cec;
  cursor: pointer;
  pointer-events: auto;
  border-radius: 50%;
  border: none;
}
#filter .filter .range_slider input[type=range]:active::-webkit-slider-thumb {
  background-color: #FFFFFF;
  border: 3px solid #4d5cec;
}
#filter .filter .range_slider input[type=range]:active::-moz-range-thumb {
  background-color: #FFFFFF;
  border: 3px solid #4d5cec;
}
#filter .filter .range_slider input[type=range]:active::-ms-thumb {
  background-color: #FFFFFF;
  border: 3px solid #4d5cec;
}

.filter_hide {
  display: none;
}

.filter_enable {
  display: block;
}

/*# sourceMappingURL=main.css.map */
