// Colors for nav section
$nav_bg: #232121;
$nav_link_fg: #D1DEEA;
$nav_link_fg_hover: #A2B0BE;

// Colors for search section
$grey_h3_fg: #EFEBEB;
$bg_left_btn: #F0F0F0;
$bg_right_btn: #7CCE84;
$bg_search_bar: #F8F8F8;
$placeholder_color: #F2F1F1;

$black: #000000;
$white: #FFFFFF;